#topNav {
  background: #024c58;
  box-shadow: 0px 1px 10px 10px #BAB395;
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav > ul > li {
  display: inline;
}
#topNav > ul > li > a
{
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in;
  font-family: Gill Sans;
}
#topNav > ul > li > a:hover {
  color: #ff904d;
}
#column1 {
     width:300px;
     float:left;
     padding-left:70px;
}
#column2 {
     width:300px;
     float:left;
     padding-left:70px;
}
#column3 {
    width:300px;
    float:left;
    padding-left: 70px;
}
 .logo {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: auto;
    padding: 15px;
    align:left;
}

.code {
  margin: auto;
}

#maya {
  display: block;
  margin: auto;
}

body {
  background-color: #ff904d;
}

iframe {
  display: block;
  margin: auto;
}

h3 {
  font-family: Gill Sans;
  margin-bottom: 15px;
  text-align: center;
  font-color: #024c58;
}

h1 {
  font-family: Slackey;
  text-align: center;
  font-color: #024c58;
}

p {
  font-family: Gill Sans;
  margin: 15px;
  font-color: #024c58;
}

ul {
  font-family: Gill Sans;
  margin: 15px;
  font-color: #0597b2;
}

ol {
  font-family: Gill Sans;
  margin: 15px;
  font-color: #0597b2;
}
